
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10px;
    

}
/* nav{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
} */
.container nav{
 list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 40rem;
  overflow: hidden;
  background-color:transparent;
}
.container nav a:hover{
    background-color: orange;
}


#logo{
    height: 30vh;
    width: 50vh;
    margin-bottom: 1000px;
    margin-left: 900px;
    

}
img{
    display:flex;
}


nav ul {
    list-style-type: none;
    display: flex;
    margin: auto;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
    margin: auto;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

/* nav ul li{
    display: inline-block;
    list-style-type:none;

    margin:auto;
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin-top: -1000px;

}
nav ul li a::after{
    content: '';
    width: o;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

} */
.header-text{
    font-size: 30px;
    margin-top: -1000px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}
/* -----------about----------- */
#about{
    padding: 80px o;
    color: #ababab;
}
.about-col-2 p{
    font-size: 20px;
    

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    align-items: center;
    padding-left: 1rem;
    padding: 2rem;
    margin: 2rem;
    
}
.portfolio .box-container .box{
    margin: 1rem;
}

.portfolio .box-container .box img{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 2rem;
}
.contact-column {
    float: left;
    width: 50%;
    margin-top: px;
    text-align: center;
    margin-left: 400px;

  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
  }







